
.divStyle{
    text-align:center;
    opacity: 2;
    border: 1px solid; 
    background-color: white;
    border-color:rgb(238, 238, 230);
     box-shadow: 4px 4px 4px 4px rgb(191, 202, 202);
     margin: 30px 30px 30px 30px;
     padding-bottom: 20px;
}
.dashboard
{
  
  text-align: center;
  color: white;
  font-size: 20px;
}

.topBar{
    background-color: rgb(154, 141, 231);
   
  }